{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Titulo</th>
                <th>Imagen</th>
                <th>Horaapertura</th>
                <th>Cantentradasmax</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos %}
            <tr>
                <td><a href="{{ path('eventos_show', { 'id': evento.id }) }}">{{ evento.id }}</a></td>
                <td>{% if evento.fecha %}{{ evento.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ evento.titulo }}</td>
                <td>{{ evento.imagen }}</td>
                <td>{% if evento.horaApertura %}{{ evento.horaApertura|date('H:i:s') }}{% endif %}</td>
                <td>{{ evento.cantEntradasMax }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('eventos_show', { 'id': evento.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('eventos_edit', { 'id': evento.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('eventos_new') }}">Create a new evento</a>
        </li>
    </ul>
{% endblock %}
