{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entrada</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entrada.id }}</td>
            </tr>
            <tr>
                <th>Imagenentrada</th>
                <td>{{ entrada.imagenEntrada }}</td>
            </tr>
            <tr>
                <th>Horalimite</th>
                <td>{{ entrada.horaLimite }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entrada.precio }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entrada_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('entrada_edit', { 'id': entrada.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
